/* 로고 이미지 */
#logo{
    float: left;
}

/* 검색창 */
.search{
    position: relative;
    width: 70%;
    top: 42px;
    float: left;
}

/* 검색 입력하는 부분 */
#search1{
    width: 100%;
    border: 3px solid #8CC8FF;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

/* 돋보기 아이콘 */
#reading_glasses{
    position: absolute;
    width: 25px;
    top: 8px;
    right: -10px;
    margin: 0;
}

/* 헤더에 있는 아이콘 부분 */
#profile{ 
    position: relative;
    top: 36px;
    left: 50px;
}
#cart{
    position: relative;
    top: 36px;
    left: 50px;
}
#like{
    position: relative;
    top: 36px;
    left: 50px;
}

/* 메인 카테고리 영역 */
.maincategori{
    background: #8CC8FF;
    height: 50px;
    top: 100px;
}

.maincategori ul{
    width: 100%;
    margin: 0 auto;
    position: relative;
    list-style: none;
    z-index: 20;
}

.maincategori .categori>li{
    float: left;
    width: 15%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #8CC8FF;
}

/* 메인 카테고리에 마우스를 올리면 그 밑에 서브 카테고리가 보이게 설정 */
.maincategori .categori>li:hover .subcategori{
    display: block;
}

.maincategori .categori>li a{
    display: block;
    text-decoration-line: none;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* 메인 카테고리 이름 설정 */
#mcname{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border-left: solid 2px #fff; border-right: solid 2px #fff;
}

.maincategori .categori>li a:hover{
    background: #3fa2ff;
    color: #fff;
}

/* 서브 카테고리 부분 */
.maincategori .subcategori{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
}

.maincategori .sub{
    float: left;
    width: 25%;
    right: 40px;
}

.maincategori .sub input{
    background: #8CC8FF;
    width: 200px;
    display: block;
    height: 50px;
    border: solid 1px white;
}

.maincategori .sub input:hover{
    background: #3fa2ff;
}

#goods{
    position: absolute;
    background: #d2e9ff;
    width: 100%;
    height: 500px;
    left: 210px;
    top: 177px;
    display: none;
    z-index: 10;
}

#goods img{
    padding-left: 200px;
    padding-top: 50px;
    width: 150px;
    height: 150px;
}

#goods #description{
    display: inline-flex;
    padding-left: 200px;
    width: 150px;
}

#goods #price{
    display: inline-flex;
    padding-left: 200px;
    width: 150px;
    font-weight: bold;
}

footer{
    background-color: #0059ac;
    position: relative;
    top: 503px;
    width: 100%;
    height: 80px;
}

.mainfooter{
    text-align: center;
}

.mainfooter span{
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.mainfooter p{
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

